<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hi I'm <strong>Adel LAJIL</strong> .Currently I am a Full Stack Developer and also have expertise with
              C#.Net , MSSQL, Azure, MongoDB and Angular front end . Done few live projects and portfolio work in above.
              Industrial engineer graduated on 2020 from the National Engineering School of Carthage with.
            </p>
            <p>

              Interested in new technology and the integration of IT tools for making the work more efficiently and
              looking forward to digitailaise the processus. Computer-savvy, .NET & Angular developer, SQL Server &
              MongoDb fans. I am interested in all areas that allow me to develop my skills and learn new technologies.

            <p>
              Self-motivated, lover of innovation and everything related to generate new knowledge.Face problems with a
              smile and look forward to solve them.
            </p>


          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">August 20, 1996</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">ajiladel@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+216 90109057</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">4160 CTV Ben Gerdane, Mednine , Tunisia
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Arabic, English, French</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>