<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2017 - 2020</p>
            <div class="h5">Engineering Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">National Engineering Diploma : Industrial Engineering</div>
            <h4 class="category">National Engineering School of Carthage
            </h4>
            <ul>
              <li>Operations research & Solve industry problems </li>
              <li>Integrate IT technolgies for better industry processus</li>
              <li>Lean philosophy and project management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2015 - 2017</p>
            <div class="h5">Technological preparatory cycle</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Preparatory Engineering Institute</div>
            <h4 class="category">ISSAT Gabes
            </h4>
            <ul>
              <li>
                prepare for the national entrance exam to engineering schools              </li>
              <li>
                Admitted with rank 160/800               </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-info" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2011 - 2015</p>
            <div class="h5">Baccalaureate</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">College</div>
            <h4 class="category">Ben Gardane High School
            </h4>
            <ul>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>